# ============
# Informe como as variáveis do banco de dados para o docker (docker-compose.yml).
# ============
CONTAINER_NAME='CONTAINER_NAME'
POSTGRES_USER='DB_USER'
POSTGRES_PASSWORD='DB_PASSWORD'
POSTGRES_DB='conta_certa_db'
POSTGRES_PORT='DB_PORT'

# ========================================================================
# ========================================================================

#  Para testar o projeto pode utilizar as variáveis abaixo:

# ========================================================================
# ========================================================================

CONTAINER_NAME='conta-certa-postgres'
POSTGRES_USER='conta_certa_user'
POSTGRES_PASSWORD='conta_certa_password'
POSTGRES_DB='conta_certa_db'
POSTGRES_PORT='5433'