# ============
# Informe os dados para acessar a base de dados.
# ============
DB_TYPE='postgres'
DB_HOST='localhost'
POSTGRES_DB='conta_certa_db'
POSTGRES_PORT='DB_PORT'
POSTGRES_USER='DB_USER'
POSTGRES_PASSWORD='DB_PASSWORD'

# ============
# Informe como a base de dados vai funcionar. 
# ⚠️ Importante: Manter como false (0) durante produção.
# ============
DATABASE_AUTO_LOAD_ENTITIES=1_OR_0
DATABASE_SYNCHRONIZE=1_OR_0

# ============
# Informe a porta que o backend deve rodar. Ex.: 3001
# ============
BACKEND_PORT:YOUR_PORT

# ===========
# JWT Config
# ===========
JWT_SECRET='sua_chave_secreta_para_jwt'
JWT_TTL='900' # Tempo de expiração do token em segundos (15 minutos)
JWT_REFRESH_TTL='604800' # Tempo de expiração do token de refresh em segundos (7 dias)
JWT_TOKEN_AUDIENCE='conta_certa_users'
JWT_TOKEN_ISSUER='conta_certa_backend'

# ========================================================================
# ========================================================================

#  Para testar o projeto pode utilizar as variáveis abaixo:

# ========================================================================
# ========================================================================


DB_TYPE='postgres'
DB_HOST='localhost'
POSTGRES_DB='conta_certa_db'
POSTGRES_PORT='5432'
POSTGRES_USER='conta_certa_user'
POSTGRES_PASSWORD='conta_certa_password'

DATABASE_AUTO_LOAD_ENTITIES=1
DATABASE_SYNCHRONIZE=1


BACKEND_PORT:3001

JWT_SECRET='sua_chave_secreta_para_jwt'
JWT_TTL='900' # Tempo de expiração do token em segundos (15 minutos)
JWT_REFRESH_TTL='604800' # Tempo de expiração do token de refresh em segundos (7 dias)
JWT_TOKEN_AUDIENCE='conta_certa_users'
JWT_TOKEN_ISSUER='conta_certa_backend'
